html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 1rem 1rem;
  font-family: Arial, sans-serif;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 228, 228, 1) 40%,
    #50efef 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;   /* Centra horizontalmente */
  min-height: 100vh;
}

main, .main-content, #root {
  width: 100%;
  max-width: 430px; /* Un poco más que el iPhone 12 para margen */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

