html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-bg-color: #caecec;
    --main-accent-color: #007bff;
    --secondary-accent-color: #ECD2CA;
    --tertiary-accent-color: #FF6200;
}
body {
  margin: 0;
  padding: 1rem 1rem;
  font-family: Arial, sans-serif;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main, .main-content, #root {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  main, .main-content, #root, body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
}
