---
import { pokemonList } from "../data/pokemons";
import BaseLayout from "../layouts/baseLayout.astro";
import Pokecard from "../components/pokecard.astro";

const pageTitle = "Pokemons";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Pokemons</h1>
  <h2>Una lista de todos los Pokemons disponibles</h2>
  <div class="pokemon-grid">
    {pokemonList.map((pokemon: any) => <Pokecard pokemon={pokemon} />)}
  </div>
</BaseLayout>

<style>
  h1 {
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
    color: #333;
    font-family: "Arial", sans-serif;
  }
  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px 0;
    color: #666;
    font-family: "Arial", sans-serif;
  }
  .pokemon-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    margin: 0 auto;
  }
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.1rem;
    }
    .pokemon-grid {
      grid-template-columns: 1fr;
      gap: 0.5rem;
      padding: 0 0.5rem;
    }
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1rem;
    }
    .pokemon-grid {
      grid-template-columns: 1fr;
      gap: 0.5rem;
      padding: 0 0.5rem;
    }
  } 
</style>
