---
import { Image } from "astro:assets";
import { pokemonType, typeColours } from "../data/pokemons.js";

const { pokemon } = Astro.props;
const mainType =
  typeColours[pokemon.types[0].type.name as keyof typeof typeColours] || "#fff";
---

<div
  class={pokemon.types[0].type.name + " pokemon-card"}
  style={`background-color: ${mainType};`}
>
  <h2>
    {pokemon.name[0].toUpperCase() + pokemon.name.slice(1, pokemon.name.length)}
  </h2>
  <h3>
    #{pokemon.id.toString().padStart(3, "0")}
  </h3>
  <Image class="pokemon-img" src={pokemon.sprites.other["official-artwork"].front_default} alt={pokemon.name} width="150" height="150" />
  <div class="stats">
    <p class="pokemon-type">
      {
        await Promise.all(
          pokemon.types.map(async (type: { type: { name: string } }) => {
            const typeData = await pokemonType(type);
            return (
              <Image
                class="type-img"
                src={
                  typeData.sprites["generation-viii"]["sword-shield"][
                    "name_icon"
                  ]
                }
                alt={type.type.name}
                width="50"
                height="50"
              />
            );
          })
        )
      }
    </p>
    <p>Altura: {(pokemon.height / 10).toLocaleString(undefined, { maximumFractionDigits: 2 })} m</p>
    <p>Peso: {(pokemon.weight / 10).toLocaleString(undefined, { maximumFractionDigits: 2 })} kg</p>
  </div>
</div>

<style>
  .pokemon-card {
    border-radius: 20px;
    padding: 4rem;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-image: url("/src/assets/pokeball_outline.png");
    background-size: 60rem;
    background-position: top left -8rem;
    background-repeat: no-repeat;
  }
  .pokemon-img {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
  }
  .pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .stats {
    background-color: #ffffffbb;
    padding: 0 2rem;
    border-radius: 20px;
    width: 80%;
  }
  .type-img {
    width: 5rem;
    height: auto;
  }
  .pokemon-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  h2 {
    font-size: 2rem;
    margin: 10px 0;
    color: #333;
    font-family: "Arial", sans-serif;
    margin: 0;
  }
  h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #666;
    font-family: "Arial", sans-serif;
    margin: 0.5rem 0 0.5rem 0;
  }

  @media (max-width: 500px) {
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1rem;
    }
    .pokemon-card {
      min-width: unset;
      height: auto;
      padding: 1rem 0.5rem;
      margin: 10px auto;
      font-size: 1rem;
      background-size: 20rem;
      background-position: top left -3rem;
    }
    .pokemon-img {
      width: 8rem;
      height: auto;
      padding: 0.5rem;
    }
    .stats {
      padding: 0 0.5rem;
      width: 90%;
    }
    .type-img {
      width: 4rem;
    }
  }
</style>
