---
import { fetchPokemon } from "../data/pokemons.js" 
---

<form class="pokemon-search-form">
  <input
    type="text"
    class="pokemon-search-input"
    placeholder="Buscar Pokemon por nombre o ID"
  />
  <button type="submit" class="pokemon-button pokemon-search-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-search"
      viewBox="0 0 16 16"
    >
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.397l3.646 3.646a1 1 0 0 0 1.414-1.414l-3.646-3.646zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
      ></path>
    </svg>
  </button>
  <button class="pokemon-button pokemon-filter-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-funnel"
      viewBox="0 0 16 16"
      style="vertical-align: middle;"
    >
      <path
        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .39.812l-4.857 6.07A1.5 1.5 0 0 0 9 9.5v3.793l-2 1V9.5a1.5 1.5 0 0 0-.533-1.118L1.61 1.812A.5.5 0 0 1 1.5 1.5z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-chevron-down pokemon-filter-down-arrow"
      viewBox="0 0 16 16"
      style="vertical-align: middle; margin-left: 2px;"
    >
      <path
        fill-rule="evenodd"
        d="M1.646 5.646a.5.5 0 0 1 .708 0L8 11.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-chevron-up pokemon-filter-up-arrow hidden"
      viewBox="0 0 16 16"
      style="vertical-align: middle; margin-left: 2px;"
    >
      <path
        fill-rule="evenodd"
        d="M1.646 10.354a.5.5 0 0 0 .708 0L8 4.707l5.646 5.647a.5.5 0 0 0 .708-.708l-6-6a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 0 .708z"
      ></path>
    </svg>
    <div class="pokemon-filter-dropdown-menu hidden">
      <ul class="filters">
        <li class="filter">
          <label for="filter1">
            <input type="checkbox" id="filter1" name="filter1" />filter 1</label
          >
        </li>
        <li class="filter">
          <input type="checkbox" id="filter2" name="filter2" />
          <label for="filter2">filter 2</label>
        </li>
        <li class="filter">
          <input type="checkbox" id="filter3" name="filter3" />
          <label for="filter3">filter 3</label>
        </li>
      </ul>
    </div>
  </button>
</form>
<style>
  .pokemon-search-form {
    width: 50%;
    margin: 1rem;
    /* background-color: #50efef; */
    background-color: #caecec;
    padding: 1.5rem;
    border-radius: 3rem;
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  .pokemon-search-input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  .pokemon-search-button {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    gap: 0.5rem;
  }
  .pokemon-filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .pokemon-filter-dropdown-menu {
    position: absolute;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    top: 100%;
    z-index: 1000;
  }
  .filters {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  .filter {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #333;
    font-size: 1rem;
  }
  .filter input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  .filter * {
    cursor: pointer;
  }
  .pokemon-button:hover {
    background-color: #0056b3;
  }
  .pokemon-button {
    padding: 0.5rem 1rem;
    height: 3rem;
    border: none;
    border-radius: 3rem;
    background-color: var(--main-accent-color);
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
</style>
<script>
import { fetchPokemon } from "../data/pokemons";

  // JavaScript to handle the filter dropdown toggle
  const filterButton = document.querySelector(".pokemon-filter-button");
  const filterDownArrow = document.querySelector(".pokemon-filter-down-arrow");
  const filterUpArrow = document.querySelector(".pokemon-filter-up-arrow");
  const filterDropdownMenu = document.querySelector(
    ".pokemon-filter-dropdown-menu"
  );

  const pokemonSearchForm = document.querySelector(".pokemon-search-form")
  const pokemonSearchInput = document.querySelector(".pokemon-search-input")

  pokemonSearchInput?.addEventListener("onsubmit", (e) => {
    e.preventDefault()
    e.stopPropagation()
    fetchPokemon(pokemonSearchInput?.textContent)
    return false
  })

  filterButton?.addEventListener("click", () => {
    filterDownArrow?.classList.toggle("hidden");
    filterUpArrow?.classList.toggle("hidden");
    filterDropdownMenu?.classList.toggle("hidden");
  });

  // JavaScript to handle filter toggle
  const filters = document.querySelectorAll(".filter input[type='checkbox']");
  filters.forEach((filter) => {
    filter.addEventListener("change", (e) => {
      e.preventDefault();
      e.stopPropagation();
      const selectedFilters = Array.from(filters)
        .filter((f) => (f as HTMLInputElement).checked)
        .map((f) => (f as HTMLInputElement).id);
      console.log("Selected filters:", selectedFilters);
    });
  });
</script>
